<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= activity.purpose %>
</p>

<p>
  <strong>Footnotes:</strong>
  <%= activity.footnotes %>
</p>


<%= link_to 'Edit', edit_activity_path(activity) %> |
<%= link_to 'Back', activities_path %>
